/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LEFT_L 1
#define RIGHT_L 2

/ {

    combos {
        compatible = "zmk,combos";

        boot_combo {
            key-positions = <0 11>;
            timeout-ms = <150>;
            bindings = <&bootloader>;
        };
    };

    behaviors {
        lscaps: left_shift_capslock {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&caps_word>;
            mods = <(MOD_RSFT)>;
        };
        rscaps: right_shift_capslock {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk RSHFT>, <&caps_word>;
            mods = <(MOD_LSFT)>;
        };
        bdel: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        ttilde: tab_tilde{
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&gresc      &kp Q        &kp W    &kp E       &kp R          &kp T        &kp Y            &kp U          &kp I       &kp O      &kp P         &bdel
&ttilde     &kp A        &kp S    &kp D       &kp F          &kp G        &kp H            &kp J          &kp K       &kp L      &kp QUOT      &kp RET
&lscaps     &kp Z        &kp X    &kp C       &kp V          &kp B        &kp N            &kp M          &kp COMMA   &kp DOT    &kp FSLH      &rscaps
&sk LGUI    &sl RIGHT_L                                                   &kp SPACE                                              &sl LEFT_L    &sk RCTL
            >;
        };

        left_layer {
            display-name = "Left";
            bindings = <
&trans      &kp MINUS    &kp EQUAL &kp N9      &kp N0         &trans       &trans           &trans         &trans      &trans     &trans        &trans
&trans      &kp N5       &kp N6    &kp N7      &kp N8         &trans       &trans           &trans         &trans      &trans     &trans        &trans
&trans      &kp N1       &kp N2    &kp N3      &kp N4         &trans       &trans           &trans         &trans      &trans     &trans        &trans
&trans      &trans                                                         &trans                                                 &trans        &trans
            >;
        };

        right_layer {
            display-name = "Right";
            bindings = <
&trans      &trans       &trans   &trans      &trans         &trans       &trans           &trans         &trans      &kp LBKT   &kp RBKT       &trans
&trans      &trans       &trans   &trans      &trans         &trans       &kp LEFT         &kp DOWN       &kp UP      &kp RIGHT  &kp SEMI       &trans
&trans      &trans       &trans   &trans      &trans         &trans       &kp HOME         &kp PG_DN      &kp PG_UP   &kp END    &kp BSLH       &trans
&trans      &trans                                                        &trans                                                 &trans         &trans
            >;
        };
    };
};
